requests>=2.32.4
streamlit>=1.46.0
passlib>=1.7.4
streamlit-aggrid>=1.1.5
streamlit-cookies-controller>=0.0.4
PyJWT>=2.10.1
cryptography>=45.0.7
streamlit-local-storage>=0.0.25
streamlit-autorefresh>=1.0.1